@media (min-width: 1367px) and (max-width: 1460px) {
  body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #f7f5f3;
    font-family: 'latoregular';
    background: rgba(0, 0, 0, 0) url("/javax.faces.resource/images/fondoLogueo.png.xhtml?ln=primefaces-adamantium") repeat scroll 0 0;
  }
}
/* topbar */
/*@topbar-bg-color: #ffffff;*/
.topbar-shadow {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
/*@mainmenu-toggler-bg-color-hover:#f2f2f2;*/
/*@mainmenu-toggler-icon-lines-bg-color: #666F77;*/
/* topbar menu */
/*@topbar-menu-first-level-link-color: #666F77;*/
.topbar-menu-submenu-shadow {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
/* main menu */
.mainmenu-cover-shadow {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.mainmenu-left-cover-shadow {
  -webkit-box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.1) !important;
}
/*@mainmenu-cover-bg-color:#ffffff;*/
.mainmenu-submenu-shadow {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
/* cards */
/*@card-topic-color: #439FE0; */
.card-border-radius {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
/* misc */
.short-transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.medium-transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.long-transition {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.no-transform {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
/* DARK ADAMANTIUM */
/* topbar */
/* topbar menu */
/* main menu */
/* for mobile devices */
/* ======================================== COLOR MITHRA WEB =========================================== */
/* Main Primary color
@color-primary-0: #FB8C00;	
@color-primary-1: #FFB251;
@color-primary-2: #FFA32F;
@color-primary-3: #CB7100;
@color-primary-4: #A95E00; 

@color-primary-0: #F37144;	
@color-primary-1: #FFA282;
@color-primary-2: #FF8B63;
@color-primary-3: #E75421;
@color-primary-4: #BD3D11;

@color-primary-0: #D40F0F;	
@color-primary-1: #FA5353;
@color-primary-2: #ED2F2F;
@color-primary-3: #B20505;
@color-primary-4: #930000; 

@color-primary-0: #FF8E13;	
@color-primary-1: #FFB96D;
@color-primary-2: #FFA340;
@color-primary-3: #D26D00;
@color-primary-4: #8C4900;  

@color-primary-0: #FF8C16;	
@color-primary-1: #FFB76E;
@color-primary-2: #FFA243;
@color-primary-3: #EF7800;
@color-primary-4: #B95D00; 

@color-primary-0: #FFDD2C;	
@color-primary-1: #FFEB80;
@color-primary-2: #FFE354;
@color-primary-3: #FFD600;
@color-primary-4: #D2B000; 


@color-primary-0: #0289D1;	
@color-primary-1: #31A7E6;
@color-primary-2: #0A9DEC;
@color-primary-3: #026296;
@color-primary-4: #014C75; */
/* Main Primary color */

